In [1]:
from sklearn.naive_bayes import MultinomialNB

In [4]:
import pandas as pd
dataset = pd.read_csv(r'C:\Users\carol\Downloads/census.csv')

In [5]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#permite trabalhar com vÃ¡rias categorias, diferentemente do NB Bernoulli

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder0 = LabelEncoder()
label_encoder1 = LabelEncoder()
label_encoder2 = LabelEncoder()
label_encoder3 = LabelEncoder()
label_encoder4 = LabelEncoder()
label_encoder5 = LabelEncoder()
label_encoder6 = LabelEncoder()

In [7]:
dataset['workclass']= label_encoder0.fit_transform(dataset['workclass'])
dataset['education']= label_encoder0.fit_transform(dataset['education'])
dataset['marital-status']= label_encoder0.fit_transform(dataset['marital-status'])
dataset['occupation']= label_encoder0.fit_transform(dataset['occupation'])
dataset['relationship']= label_encoder0.fit_transform(dataset['relationship'])
dataset['race']= label_encoder0.fit_transform(dataset['race'])
dataset['native-country']= label_encoder0.fit_transform(dataset['native-country'])

In [8]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,Male,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,Male,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,Male,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,Male,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,Female,0,0,40,5,<=50K

In [9]:
x = dataset.iloc[:, [1,3,5,6,7,8,13]].values
x

array([[ 7,  9,  4, ...,  1,  4, 39],
       [ 6,  9,  2, ...,  0,  4, 39],
       [ 4, 11,  0, ...,  1,  4, 39],
       ...,
       [ 4, 11,  6, ...,  4,  4, 39],
       [ 4, 11,  4, ...,  3,  4, 39],
       [ 5, 11,  2, ...,  5,  4, 39]])

In [10]:
y = dataset['income'].values
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [12]:
multinomial_naive_bayes = MultinomialNB()
multinomial_naive_bayes.fit(x,y)

MultinomialNB()

In [13]:
previsoes = multinomial_naive_bayes.predict(x)

In [16]:
from sklearn.metrics import accuracy_score
previsoes, y

(array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
       dtype='<U6'),
 array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
       dtype=object))

In [17]:
accuracy_score(y, previsoes)

0.7485949448727005