In [5]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectFdr
from sklearn.feature_selection import chi2
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [7]:
dataset = pd.read_csv(r'C:/users/carol/Downloads/ad.data', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [8]:
from sklearn.feature_selection import f_classif

In [16]:
x = dataset.iloc[:, 0:1558].values
x

array([[125.    , 125.    ,   1.    , ...,   0.    ,   0.    ,   0.    ],
       [ 57.    , 468.    ,   8.2105, ...,   0.    ,   0.    ,   0.    ],
       [ 33.    , 230.    ,   6.9696, ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 23.    , 120.    ,   5.2173, ...,   0.    ,   0.    ,   0.    ],
       [  0.    ,   0.    ,   0.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.    ,  40.    ,   1.    , ...,   0.    ,   0.    ,   0.    ]])

In [17]:
y = dataset.iloc[:, 1558].values
y

array(['ad.', 'ad.', 'ad.', ..., 'nonad.', 'nonad.', 'nonad.'],
      dtype=object)

In [18]:
selecao = SelectFdr(f_classif,alpha = 0.01)
x_novo_2 = selecao.fit_transform(x,y)

In [19]:
selecao = SelectFdr(chi2, alpha=0.01)
x_novo = selecao.fit_transform(X, y)

In [21]:
x.shape, x_novo.shape,x_novo_2.shape

((3279, 1558), (3279, 433), (3279, 433))

In [22]:
selecao.pvalues_

array([2.14710304e-268, 0.00000000e+000, 8.98165813e-150, ...,
       6.03353380e-041, 5.63437216e-012, 9.37945775e-002])

In [23]:
np.sum(selecao.pvalues_ < 0.01)

476

In [24]:
naive3 = GaussianNB()
naive3.fit(x_novo_2, y)
previsoes3 = naive3.predict(x_novo_2)
accuracy_score(y,previsoes3)

0.970722781335773

In [ ]:
#nÃ£o fez diferenÃ§a usar Anova para esses dados tendo em vista que o accuracy score foi igual